# Tutorial (Básico) de Python

Neste tutorial, vamos aprender os conceitos básicos para desenvolvermos nossos primeiros programas em Python! <br/>
Boa parte dos exemplos deste tutorial é inspirado no [curso de Python do Kaggle\(https://www.kaggle.com/learn/python).

In [26]:
%%html
<style>
table {float:left}
</style>

## Variáveis

### Tipos
Python tem diferentes tipos de dados, mas no fundo, *tudo é um objeto*. <br/>
Variáveis podem ser definidas em qualquer lugar.

Veja alguns tipos:

| Tipo    | Exemplo           |
|---------|-------------------|
| Integer | 1 10 -4           |
| Float   | 1.0 -0.223 3.1415 |
| String  | "Hello world"     |

## Instanciando variáveis

In [27]:
nome = "Luke Skywalker"
idade = 18
peso = 70.5

In [28]:
nome

'Luke Skywalker'

In [29]:
print(nome)
print(nome, idade, peso)

Luke Skywalker
Luke Skywalker 18 70.5

### Type()
Use a função <code>type()</code> para descobrir o tipo de uma variável.

In [30]:
type(nome), type(idade), type(peso)  # imprimirá uma tupla (veremos isso depois!)

(str, int, float)

### Dir()
Use a função <code>dir()</code> para descobrir **todos os métodos** associados a um objeto:

In [31]:
dir(nome)  # veja todos os métodos associados a uma string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Usando métodos
Métodos podem ser acessados usando: <code>objeto.metodo</code>

In [32]:
nome.upper()

'LUKE SKYWALKER'

### Atribuição Múltipla

In [33]:
nome, idade, peso = "Yoda", 1000, 10.5

print(nome, idade, peso)

Yoda 1000 10.5

### Python é uma linguagem *case-sensitive*

In [34]:
a = 10
b = 5
c = a + b
print(c)

15

In [35]:
B = 1
d = a + B
print(d)

11

### Dinamicamente e Fortemente tipada

**Dinamicamente:** o tipo é definido no momento da atribuição
**Fortemente:** o interpretador não muda o tipo de uma variável inesperadamente

In [36]:
print(type(a))

a = "10"
print(type(a))

c = a + b

<class 'int'>
<class 'str'>

TypeError: can only concatenate str (not "int") to str

### Conversão de Tipos (*Casting*)

In [37]:
c = int(a) + b  # a é string e uma cópia de seu valor (não a variável propriamente dita) foi convertido para inteiro
print(c)

15

In [38]:
print(a)
print(type(a))

10
<class 'str'>

In [39]:
print(int(4.5))  # removendo os decimais de um float

4

In [40]:
str(10)  # convertendo um inteiro em uma string

'10'

### Operadores Aritméticos

| Operador     | Nome                 | Descrição                                                                            |
|--------------|----------------------|--------------------------------------------------------------------------------------|
| ``a + b``    | Adição               | Soma de ``a`` e ``b``                                                                |
| ``a - b``    | Subtração            | Diferença de ``a`` e ``b``                                                           |
| ``a * b``    | Multiplicação        | Produto de ``a`` e ``b``                                                             |
| ``a / b``    | Divisão 'verdadeira' | Quociente de ``a`` e ``b``                                                           |
| ``a // b``   | Piso da Divisão      | Quociente de ``a`` e ``b``, removendo partes fracionadas (arredondamento para baixo) |
| ``a % b``    | Módulo               | Resto da divisão de a ``a`` por ``b``                                                |
| ``a ** b``   | Exponenciação        | ``a`` elevado a ``b``                                                                |
| ``-a``       | Negação              | Negativo de ``a``                                                                    |

In [41]:
# Divisão 'verdadeira'
print(5 / 2)
print(6 / 2)

2.5
3.0

In [42]:
# Piso da Divisão
print(5 // 2)
print(6 // 2)

2
3

### A função print()
A função _print()_ imprime uma string na tela/console. <br/>
Uma string pode ser definida com **aspas simples ''** ou **aspas duplas ""**.

Por convenção, a comunidade usa **aspas simples ''**

In [43]:
print('Imprimindo com aspas simples!')
print("Imprimindo com aspas duplas!")

Imprimindo com aspas simples!
Imprimindo com aspas duplas!

<br/>Para imprimir valores de _variáveis_ junto com uma _string/texto_, utilize a letra **_f_** antes das primeiras aspas, e coloque a variável entre **_{}_** (Python 3.6+):

In [44]:
print(f'Meu nome eh {nome}')
print(f'Tenho {idade} anos')
print(f'Peso {peso} kg')
print('')  # print sempre pula uma linha por padrão

# ou tudo na mesma linha, pulando uma linha com \n
print(f'Meu nome eh: {nome}\nTenho {idade} anos\nPeso {peso} kg')

Meu nome eh Yoda
Tenho 1000 anos
Peso 10.5 kg

Meu nome eh: Yoda
Tenho 1000 anos
Peso 10.5 kg

<br/>
Alternativa, temos outras formas de impressão vindas de versões mais antigas do Python, porém ainda válidas:

In [45]:
print('Meu nome eh %s' % nome)
print(f'Tenho %d anos' % idade)
print(f'Peso %f kg' % peso)
print('')  # print sempre pula uma linha por padrão

# ou tudo na mesma linha, pulando uma linha com \n
print('Meu nome eh: %s\nTenho %d anos\nPeso %f kg' % (nome, idade, peso))

Meu nome eh Yoda
Tenho 1000 anos
Peso 10.500000 kg

Meu nome eh: Yoda
Tenho 1000 anos
Peso 10.500000 kg

In [46]:
print('Meu nome eh {0}'.format(nome))
print('Tenho {0} anos'.format(idade))
print('Peso {0} kg'.format(peso))
print('')  # print sempre pula uma linha por padrão

# ou tudo na mesma linha, pulando uma linha com \n
print('Meu nome eh: {0}\nTenho {1} anos\nPeso {2} kg'.format(nome, idade, peso))

Meu nome eh Yoda
Tenho 1000 anos
Peso 10.5 kg

Meu nome eh: Yoda
Tenho 1000 anos
Peso 10.5 kg